.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
    border: 2px solid grey
}

.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    
    background: var(--tg-theme-button-color);
    position: relative;
}

.image_logo {
    height: auto;
    width: 8em;
    display: block;
    margin: 0 auto;
}



.description {
    font-size: 0.8em;
}


.add-btn {
    width: 100%;
}

.telega {
    font-size: 1em;
}

.phone {
    font-size: 1em;
}